.container{
    display: flex;
    justify-content:space-between;
    height: 70px;
    color: gray;
    align-items: center;
}

.logo{
    font-weight: bold;
}

.text{
    font-style: 12px;
}


@media (max-width:768px){
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}